<app-company-navbar></app-company-navbar>
<div class="main">
  <div class="search d-flex justify-content-center">
    <div class="topic mt-3">
      <i class="fas fa-search" style="font-size:20px"></i>
    </div>
    <div class="search-box">
      <form  name="search">
            <div class="col-md-12">
              <input type="email" class="form-control" placeholder="Search companies here" name="search" >
            </div>
      </form>
    </div>
  </div>
  <div class="company-details">

  </div>
</div>
