<app-company-navbar></app-company-navbar>
<div class="d-flex justify-content-center px-md-5 mx-md-5">
  <div id="sign-up-card" class="col-lg-4 ">
    <h1 class="pt-5 align-center">Forget Password</h1>
    <form class="p-5" *ngIf="isLogin" [formGroup]="registerForm" (ngSubmit)="loginUser()" name="loginUser">
      <div class=" pb-3">
        <div class="row pb-3 d-flex align-items-center">
          <div class="col-md-4 ">
          <label  for="">Email:</label>
          </div>
          <div class="col-md-8">          
            <input type="text" class="form-control" formControlName="email">
            <span class="text-danger"
                *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                Email is required
            </span>
            <span class="text-danger"
                *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                Enter a valid email address
            </span>
            <span class="text-danger"
            *ngIf="!error.hidden">
        User Dosent Exist
        </span>

          </div>
        </div>      
      </div>
      <div class="col-md-12 text-center pt-3 ">
        <input class="btn create-btn shadow border border-dark" type="submit" value="Change Password">
      </div>  
    </form>
    <form class="p-5" *ngIf="!isLogin" [formGroup]="registerForm" (ngSubmit)="updatePassword()" name="loginUser">
      <div class=" pb-3">
        <div class="row pb-3 d-flex align-items-center">
          <div class="col-md-4 ">
          <label  for="">Password:</label>
          </div>
          <div class="col-md-8">          
            <input type="text" class="form-control" formControlName="password">
            <span class="text-danger"
                *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                password is required
            </span>   
            <span class="text-danger"
                *ngIf="!error.hidden">
              password dosen't match
            </span>        
          </div>
        </div>      
      </div>
      <div class=" pb-3">
        <div class="row pb-3 d-flex align-items-center">
          <div class="col-md-4 ">
          <label  for="">Confirm Password:</label>
          </div>
          <div class="col-md-8">          
            <input type="text" class="form-control" formControlName="confirmpassword">
            <span class="text-danger"
                *ngIf="(registerFormControl.confirmpassword.touched || submitted) && registerFormControl.confirmpassword.errors?.required">
                Confirm Password is required
            </span>        
          </div>
        </div>      
      </div>
      <div class="col-md-12 text-center pt-3 ">
        <input class="btn create-btn shadow border border-dark" type="submit" value="Change Password">
      </div>  
    </form>
  </div>
</div>

