<app-company-navbar></app-company-navbar>
<div id="sign-up-card">
  <h1 class="pt-5 align-center">Create Account</h1>
  <form class="p-5" (ngSubmit)="registerData()" name="registerCompany" [formGroup]="CompanyForm">
    <div class="row pb-3">
      <label class="col-md-2" for="">Company Name:</label>
      <div class="col-md-4">
        <input type="text" class="form-control rounded-0" formControlName="company_name"  [class.is-invalid]="CompanyForm.get('company_name')?.dirty && CompanyForm.get('company_name')?.invalid"
        [class.is-valid]="CompanyForm.get('company_name')?.dirty && CompanyForm.get('company_name')?.valid" placeholder="Enter Company Name" name="company_name" [(ngModel)]="company.company_name">
        <span class="w-100 text-left" *ngIf="CompanyForm.get('company_name')?.invalid && CompanyForm.get('company_name')?.errors">
          <small class="text-danger"  *ngIf="CompanyForm.get('company_name')?.hasError('maxlength')">Maximum 15 characters</small>
        </span>
      </div>
      <label class="col-md-2" for="">Profile image</label>
      <div class="col-md-4">
        <input type="file" id="customFile"  (change)="onfileSelected($event)" class="form-control rounded-0"  name="profile_image" [(ngModel)]="company.profile_image">
        <span>
          <small class="text-danger" >{{ file_errors}}</small>
       </span>
      </div>
    </div>
    <div class="row pb-3">
      <label class="col-md-2" for="">Company Address:</label>
      <div class="col-md-4">
        <input type="text" class="form-control rounded-0" placeholder="Enter Company Address" name="address" [(ngModel)]="company.address">
      </div>
      <label class="col-md-2" for="">Company Description:</label>
      <div class="col-md-4">
        <textarea name="description" id="" class="form-control rounded-0" cols="44" rows="2" [(ngModel)]="company.description" [ngModelOptions]="{standalone: true}" placeholder="Comapny description" ></textarea>
      </div>

    </div>
    <div class="row pb-3">
      <label class="col-md-2" for="">Company Email:</label>
      <div class="col-md-4">
        <input type="email" class="form-control rounded-0" placeholder="Enter Company Email" name="email" [(ngModel)]="company.email">
      </div>
      <label class="col-md-2" for="">Password:</label>
      <div class="col-md-4">
        <input type="password" class="form-control rounded-0" placeholder="Enter Password" name="password" [(ngModel)]="company.password">
      </div>

    </div>
    <div class="row pb-3">
      <label class="col-md-2" for="">Contact No:</label>
      <div class="col-md-4">
        <input type="text" class="form-control rounded-0" placeholder="Enter Contact No" name="contact_no" [(ngModel)]="company.contact_no">
      </div>
      <label class="col-md-2" for="">Confirm Password:</label>
      <div class="col-md-4">
        <input type="password" class="form-control rounded-0" placeholder="Confirm Password" name="confirm_password" [(ngModel)]="company.confirm_password">
      </div>
    </div>
    <div class="col-md-12 text-center pt-3 ">
      <div >
        <input class="btn create-btn shadow border border-dark" type="submit" value="Create">
      </div>

    </div>
    <label class="col-md-12 text-center pt-2" for="">Already have an Account?<a routerLink="/companylogin" style="color:white;Font-weight:bold;">LOGIN</a></label>

  </form>
</div>
