<app-company-navbar></app-company-navbar>
<app-company-sidenav></app-company-sidenav>
<div class="main">
  <div class="formDiv">
    <p class="addChan mb-5" style="text-align: center">Create Exam</p>
    <p class="createjobtopic col-4"></p>
    <div class="channelformadd">
      <form class="formchannel"  >

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="vacancyName">Realated Vacancy Name:</label>
          </div>
          <div class="col-8 w-100">

            <select class="form-control">
              <option>Vacancy 1</option>
              <option>Vacancy 2</option>
              <option>vacancy 3</option>
              <option>Vacancy 4</option>
            </select>
          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="q1">Question  1:</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control"  >

          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="q2">Question  2:</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control"  >

          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="q3">Question  3:</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control"  >

          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="q4">Question  4:</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control"  >

          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="q5">Question  5:</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control"  >

          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="q6">Question  6:</label>
          </div>
          <div class="col-8 w-100">
            <textarea    class="form-control" placeholder="Enter Vacancy Description"  cols="40" rows="8"   >
            </textarea>
          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="q7">Question  7:</label>
          </div>
          <div class="col-8 w-100">
            <textarea    class="form-control" placeholder="Enter Vacancy Description"  cols="40" rows="8"   >
            </textarea>
          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="q8">Question  8:</label>
          </div>
          <div class="col-8 w-100">
            <textarea    class="form-control" placeholder="Enter Vacancy Description"  cols="40" rows="8"   >
            </textarea>
          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="q9">Question  9:</label>
          </div>
          <div class="col-8 w-100">
            <textarea    class="form-control" placeholder="Enter Vacancy Description"  cols="40" rows="8"   >
            </textarea>
          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="q10">Question  10:</label>
          </div>
          <div class="col-8 w-100">
            <textarea    class="form-control" placeholder="Enter Vacancy Description"  cols="40" rows="8"   >
            </textarea>
          </div>
        </div>

        <div class="btnCreate col-12 pr-0 ">
          <input class="btn create-btn shadow border border-dark mb-3 " type="submit" value="Create">
        </div>
      </form>
    </div>
  </div>
</div>
