<app-company-navbar></app-company-navbar>

<div class="main">

  <div class="formDiv ">
    <p class="createjobtopic col-4 addChan mb-5">Answer All Questions</p>
    <div class="channelformadd ">
      <form class="formchannel mb-5 " (ngSubmit)="checkAns()">

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <p ngDefaultControl [(ngModel)]="exam.Q1">{{exam.Q1}}</p>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control" [(ngModel)]="userAns.UA1" >
          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
            <p ngDefaultControl [(ngModel)]="exam.Q2" [ngModelOptions]="{standalone: true}">{{exam.Q2}}</p>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control" [(ngModel)]="userAns.UA2"  >
          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
            <label ngDefaultControl [(ngModel)]="exam.Q3">{{exam.Q3}}</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control" [(ngModel)]="userAns.UA3"   >
          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
            <label ngDefaultControl [(ngModel)]="exam.Q4" [ngModelOptions]="{standalone: true}">{{exam.Q4}}</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control" [(ngModel)]="userAns.UA4" >
          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label ngDefaultControl [(ngModel)]="exam.Q5" [ngModelOptions]="{standalone: true}">{{exam.Q5}}</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control"  [(ngModel)]="userAns.UA5"  >
          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
            <label ngDefaultControl [(ngModel)]="exam.Q6" [ngModelOptions]="{standalone: true}">{{exam.Q6}}</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control"  [(ngModel)]="userAns.UA6"  >

          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
            <label ngDefaultControl [(ngModel)]="exam.Q7" [ngModelOptions]="{standalone: true}">{{exam.Q7}}</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control"  [(ngModel)]="userAns.UA7"  >

          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
            <label ngDefaultControl [(ngModel)]="exam.Q8" [ngModelOptions]="{standalone: true}">{{exam.Q8}}</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control"  [(ngModel)]="userAns.UA8"  >

          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
            <label ngDefaultControl [(ngModel)]="exam.Q9" [ngModelOptions]="{standalone: true}">{{exam.Q9}}</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control"  [(ngModel)]="userAns.UA9"  >

          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
            <label ngDefaultControl [(ngModel)]="exam.Q10" [ngModelOptions]="{standalone: true}">{{exam.Q10}}</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="name" id="name" class="form-control"  [(ngModel)]="userAns.UA10"  >
          </div>
        </div>
        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">

          </div>
          <div class="col-8 w-100">
            <input class="btn create-btn shadow border border-dark mb-3 " type="submit" value="Submit">

          </div>
        </div>

        <!-- <div class="btnCreate col-12 pr-0 ">
        </div> -->
      </form>
    </div>
  </div>
</div>

