<app-company-navbar></app-company-navbar>
<app-company-sidenav></app-company-sidenav>
<div class="main">
  <div class="formDiv">
    <p class="addChan col-4">Create Vacancy</p>
    <p class="createjobtopic col-4">Add your job vacancies here</p>
    <div class="channelformadd">
      <form class="formchannel"  #channelF="ngForm"  (ngSubmit)="addVacancy(id)" >

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="vacancyName">vacancy Name:</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="vacancyName" id="vacancyName" class="form-control" [(ngModel)]="vacancy.vacancy_name" placeholder="Enter Vacancy Name">
          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="vacDescription">Vacancy Description :<br>(Details and the Responsibilities)</label>
          </div>
          <div class="col-8 w-100">
            <textarea    class="form-control" placeholder="Enter Vacancy Description"  cols="40" rows="8"  [(ngModel)]="vacancy.vacancy_des" [ngModelOptions]="{standalone: true}"  >
            </textarea>
          </div>
        </div>
        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="vacReq">Vacancy Requirements:</label>
          </div>
          <div class="col-8 w-100">
            <textarea    class="form-control" placeholder="Enter Vacancy Requirements"  cols="40" rows="8"  [(ngModel)]="vacancy.requirement" [ngModelOptions]="{standalone: true}" >
            </textarea>
          </div>
        </div>
        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="skills">Skills:</label>
          </div>
          <div class="col-8 w-100">
            <textarea    class="form-control" placeholder="Enter Vacancy Skills"  cols="40" rows="8"  [(ngModel)]="vacancy.skills" [ngModelOptions]="{standalone: true}" >
            </textarea>
          </div>
        </div>

        <div class="form-group d-flex flex-row justify-content-center">
          <div class="col-4">
          <label for="channelname">Experience Level:</label>
          </div>
          <div class="col-8 w-100">
            <input type="text" name="email" id="channelname" class="form-control" [(ngModel)]="vacancy.experience" placeholder="Enter Experience Level" >
          </div>
        </div>



        <div class="btnCreate col-12 pr-0 ">
          <input class="btn create-btn shadow border border-dark mb-3 " type="submit" value="Create">
        </div>
      </form>
    </div>
  </div>
</div>
