.main{
  margin-left: 570px; /* Same as the width of the sidenav */
  margin-top: 100px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  text-align:center;
}
.addChan{
  text-align: left;
  font-size:25px;
  color:#421358e5;
  font-weight:bold;

}
.createjobtopic{
  text-align: left;
  font-size:15px;
  color:#421358b0;

  font-weight:bold;
}
.formchannel{
  text-align: left;
  font-size:20px;

  color:#42135885;
  font-weight:bold;
}
.channelformadd{
  width:800px;
}
.create-btn
{
  color:white;
  font-weight: bold;
  font-family: arial;
  font-size:20px;
  background-color:#4a255c;
  padding: 8px 50px;
  border-radius: 4px;
  float: right;
}

.formDiv{
  float: left;
  width: 80%;
}
@media only screen and (max-width: 1000px) {

  .main {
    margin-left: 370px; /* Same as the width of the sidenav */
  }

  .colorupdate{
    color: red;

  }
}

