<app-company-navbar></app-company-navbar>
<div class="d-flex justify-content-center px-md-5 mx-md-5">
  <div id="sign-up-card" class="col-lg-4 ">
    <h1 class="pt-5 align-center">Company Login</h1>
    <form class="p-5" (ngSubmit)="loginCompany()" name="loginCompany" >
      <div class=" pb-3">
        <div class="row pb-3 d-flex align-items-center">
          <div class="col-md-4 ">
          <label  for="">Email:</label>
          </div>
          <div class="col-md-8">
            <input type="email" class="form-control rounded-0" placeholder="Enter Email" name="email" [(ngModel)]="company.email">
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-md-4 " >
          <label for="">Password:</label>
          </div>
          <div class="col-md-8">
            <input type="Password" class="form-control rounded-0"  name="password" [(ngModel)]="company.password">
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center pt-3 ">
        <input class="btn create-btn shadow border border-dark" type="submit" value="Login">
      </div>
      <label class="col-md-12 text-center pt-2" for=""><a href=""  style="color:white;">Forgot Password?</a></label>

      <label class="col-md-12 text-center " for="">Don't have an Account?<a style="color:white;Font-weight:bold;" routerLink="/companycreate">REGISTER</a></label>
    </form>
  </div>
</div>

