<app-company-navbar></app-company-navbar>
<div class="main">
  <div class="topic justify-content-center">
    <h1>Company Name</h1>
    <p class="pt-2 ">Company description vnefuive vnefuvirnsf v efuvsf vnuivnrs vnrwvuisw vnruisd vuivwr
      pany description vnefuive vnefuvirnsf v efuvsf vnuivnrs vnrwvuisw vnruisd vuivwr vnwdvuwi v
      pany description vnefuive vnefuvirnsf v efuvsf vnuivnrs vnrwvuisw vnruisd vuivwr vnwdvuwi vvnwdvuwi vrnwrdiv
      pany description vnefuive vnefuvirnsf v efuvsf vnuivnrs vnrwvuisw vnruisd vuivwr vnwdvuwi v
      pany description vnefuive vnefuvirnsf v efuvsf vnuivnrs vnrwvuisw vnruisd vuivwr vnwdvuwi v
      </p>
  </div>
  <div class="search d-flex justify-content-center pt-5">
    <div class="topic mt-3">
      <i class="fas fa-search" style="font-size:20px;color:#421358;"></i>
    </div>
    <div class="search-box pb-5">
      <form  name="search">
            <div class="col-md-12">
              <input type="email" class="form-control" placeholder="Search channels here" name="search" >
            </div>
      </form>
    </div>
  </div>

  <!-- <div class="channel-list  ">

    <div class="d flex justify-content-center row">

      <div class="box col-3 pb-5">
        <div class="topic-channel mt-5 ml-5 ">
          <h1>Channel name</h1>
          <p>description</p>
        </div>
        <div class="sub-btn mt-5  pr-5">
          <button class="btn create-btn shadow border border-dark">Subscribe</button>
        </div>
      </div>

      <div class="box col-3 pb-5">
        <div class="topic-channel mt-5 ml-5 ">
          <h1>Channel name</h1>
          <p>description</p>
        </div>
        <div class="sub-btn mt-5  pr-5">
          <button class="btn create-btn shadow border border-dark">Subscribe</button>
        </div>
      </div>

      <div class="box col-3 pb-5">
        <div class="topic-channel mt-5 ml-5 ">
          <h1>Channel name</h1>
          <p>description</p>
        </div>
        <div class="sub-btn mt-5  pr-5">
          <button class="btn create-btn shadow border border-dark">Subscribe</button>
        </div>
      </div>
      <div class="box col-3 pb-5">
        <div class="topic-channel mt-5 ml-5 ">
          <h1>Channel name</h1>
          <p>description</p>
        </div>
        <div class="sub-btn mt-5  pr-5">
          <button class="btn create-btn shadow border border-dark">Subscribe</button>
        </div>
      </div>
      <div class="box col-3 pb-5">
        <div class="topic-channel mt-5 ml-5 ">
          <h1>Channel name</h1>
          <p>description</p>
        </div>
        <div class="sub-btn mt-5  pr-5">
          <button class="btn create-btn shadow border border-dark">Subscribe</button>
        </div>
      </div>

    </div>


  </div> -->
</div>
