.main{
  background-color: rgba(90, 22, 90, 0.062);
  width: -webkit-fill-available;
  height:100vh;
  position:absolute;
  overflow-x: hidden;
}
.topic{
  margin-top:150px;
  text-align: center;
}
.topic h1{
  font-size:40px;
  font-weight:500;
  color:#510b72;
}
.topic p{
  font-size:20px;
  font-weight:500;
  padding:20px;
  color:#510b7273;

}
.topic-channel h1{
  color:#490c66;
  font-size:30px;
}
.topic-channel p{
  color:#510b7273;
  font-size:20px;
}
.create-btn
{
  color:white;
  font-weight: bold;
  font-family: arial;
  font-size:20px;
  background-color:#391c46;
  padding: 7px 40px;
  border-radius: 50px;
  float: right;

}
.create-btn:hover{
  color:#391c46;
  background:white;
}
.sub-btn{
  margin-right:50px;
  margin-top: 45px;
}

@media only screen and (max-width: 1000px) {
  .sub-btn{
    /* text-align: center; */
    margin-top: 10px;
    margin-left:100px;
    margin-bottom:2px;
    color: black;
  }
}
.box{
  background-color:white;
  width:400px;
  height:250px;
  border:solid 1px rgba(0, 0, 0, 0.363);
  border-radius: 50px 50px 50px 50px;
  box-shadow: 2px 5px 10px #aaaaaa;

}
.search input{
  border-radius: 50px 50px 50px 50px;
  width: 700px;
  height: 50px;
}
