<app-company-navbar></app-company-navbar>
<app-company-sidenav></app-company-sidenav>

<div class="main">
  <div class="tableDiv">
    <table class="st table table-striped">
      <thead>
      <tr style="border-bottom:solid 1px black;">
          <th style="border-radius: 4px 0 0 0;">Name</th>
          <th>Email</th>
          <th>CV</th>
          <th>ContactNo</th>
          <th>Vacancy and level</th>
          <th style="border-radius: 0px 4px 0 0;">Link</th>
      </tr>
      </thead>
      <tr *ngFor = "let data of details">
        <td>{{data.user_name}}</td>
        <td>{{data.email}}</td>
        <td><a href="http://127.0.0.1:8000/storage/cvs/{{data.cvs}}"><img src="../../../assets/img/pdf_109.png" alt="">Open</a></td>
        <td>{{data.contact_no}}</td>
        <td>
          <p>{{data.vac_name}}</p>
          <p>{{data.job_category_level}}</p>
        </td>
        <td >
          <form (ngSubmit)="sendEmail(box.value)"  style="text-align: left">
            <div class="form-group">
              <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"   placeholder="Enter Meeting Link" [(ngModel)]="detailsEmail.link">
            </div>
            <div class="form-group">
              <input type="hidden" class="form-control"   #box  placeholder="Enter email" value="{{data.email}}" >
            </div>
            <input type="submit" class="btn create-btn shadow border border-dark" value="Send Interview Link">
          </form>
        </td>

      </tr>
     </table>
  </div>

</div>

