<header>
  <div class="navbar nav-bar-company shadow-sm">
    <div class="navbar-brand align-item-center d-flex ml-5">
      <img src="../../../assets/img/logo.png" alt="" style="max-width: 80%;">
    </div>
    <div>
      <ul class="nav mr-5">
        <li class="nav-item">
          <a class="nav-link mr-3" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3"  href="#aboutUs">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3"  href="#contact">contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3" routerLink="/companylogin">login</a>
        </li>
      </ul>
    </div>
  </div>
</header>
