<header>
  <div *ngIf="!isLoggedIn; else content">
    <div class="navbar nav-bar-company shadow-sm">
      <div class="navbar-brand align-item-center d-flex ml-5">
        <img src="../../../assets/img/logo.png" alt="" style="max-width: 80%;">
      </div>
      <div>
        <ul class="nav mr-5">
          <li class="nav-item">
            <a class="nav-link mr-3" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-3"  href="#aboutUs">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-3"  href="#contact">contact</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link mr-3" routerLink="/companylogin">login</a> -->
          </li>
        </ul>
      </div>
    </div>
  </div>



  <ng-template #content>
    <ng-container *ngIf="!isJobLoggedIn; else job">
      <div class="navbar nav-bar-company shadow-sm">
        <div class="navbar-brand align-item-center d-flex ml-5">
          <img src="../../../assets/img/logo.png" alt="" style="max-width: 80%;">
        </div>
        <div>
          <ul class="nav mr-5">

            <li class="nav-item">
              <p class="nav-link mr-3 com-name"  [(ngModel)]="company.company_name"  ngDefaultControl> {{company.company_name}}</p>
            </li>
            <li class="nav-item ">
              <a class="nav-link mr-3 mt-1 col-lg-3 pro-img" >
                <img [(ngModel)]="company.profile_image"  src="http://127.0.0.1:8000/storage/company_images/{{company.profile_image}}" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>

  </ng-template>
  <ng-template #job>
      <div class="navbar nav-bar-company shadow-sm">
        <div class="navbar-brand align-item-center d-flex ml-5">
          <img src="../../../assets/img/logo.png" alt="" style="max-width: 80%;">
        </div>
        <div>
          <ul class="nav mr-5">
            <li class="nav-item">
              <a class="nav-link mr-3 com-name">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mr-3 com-name" >Exams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mr-3 com-name" >Notifications</a>
            </li>

            <li class="nav-item">
              <p class="nav-link mr-3 com-name"  [(ngModel)]="jobSeeker.user_name"  ngDefaultControl> {{jobSeeker.user_name}}</p>
            </li>
            <li class="nav-item dropdown  ">
              <a class="nav-link dropdown-toggle  pro-img" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img [(ngModel)]="jobSeeker.profile_image"  src="http://127.0.0.1:8000/storage/company_images/{{jobSeeker.profile_image}}" alt="">

              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item color-drop">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item color-drop" (click)="logOut()">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
  </ng-template>


</header>
