<app-company-navbar></app-company-navbar>
<div class="main">
  <div class="topic justify-content-center">
    <h1 ngDefaultControl [(ngModel)]="vacancy.vacancy_name">{{ vacancy.vacancy_name}}</h1>
  </div>
  <div class="details-box d-flex justify-content-center mt-5 mb-5 ">

    <div class="vac-details">
     <div>
       <h1 >Description(Responsibilities and other details)</h1>
       <p ngDefaultControl [(ngModel)]="vacancy.vacancy_des">{{vacancy.vacancy_des}}</p>
     </div>
     <div>
       <h1>Requirements</h1>
       <p ngDefaultControl [(ngModel)]="vacancy.requirement">{{ vacancy.requirement}}
     </div>

     <div>
       <h1 >Skills</h1>
       <p ngDefaultControl [(ngModel)]="vacancy.skills">{{ vacancy.skills}}</p>
     </div>
    </div>

    <div class="form-vac">
      <div>
        <form class="formchannel "   (ngSubmit)="addExam()">
          <div class="form-group">
            <label for="name">Full Name:</label>
            <input type="text" name="name" id="name" class="form-control"  [(ngModel)]="jobApplier.Name">
          </div>
          <div class="form-group" >
          <label for="channelname">Level:</label>

          <select class="form-control" name="my-select" [(ngModel)]="mySelect" (change)="selectChange()">
            <option value="2">--Select--</option>

            <option [value]="item.id" *ngFor="let item of level">
                {{item.name}}
            </option>
          </select>
          </div>


          <div class="form-group">
            <label for="contact">Contact No:</label>
            <input type="text" name="contact" id="contact" class="form-control"   [(ngModel)]="jobApplier.Phone_no">
          </div>
          <div class="btnCreate col-12 pr-0 d-flex justify-content-between">

              <div class=" m-2">
                <input class="btn create-btn shadow border border-dark b1" type="submit" value="Face Exam" >
              </div>


            <div class="m-2">
              <input class="btn create-btn shadow border border-dark b2" type="submit" value="Shedule an Exam">
            </div>
          </div>
        </form>
      </div>
      <hr style="background-color:rgba(0, 0, 0, 0.473)">
      <div>
        <h1 style="font-size:15px">Enables when you passed the exam</h1>
        <div>
          <form action="">
            <div class="form-group d-flex">
              <div>
                <label for="cv" style="font-size:15px;">Attach your CV:</label>

              </div>
              <div style="width:200px">
                <input type="file" name="cv" id="cv" class="form-control"  >
              </div>
            </div>
            <div class="m-2">
              <input class="btn create-btn shadow border border-dark" style="float: right;" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>
