.main{
  background-color: rgba(90, 22, 90, 0.062);
  width: -webkit-fill-available;
  height:100vh;
  position:absolute;
  overflow-x: hidden;
}
.topic{
  margin-top:150px;
  text-align: center;
}
.topic h1{
  font-size:40px;
  font-weight:500;
  color:#510b72;
}
.vac-details{
  border-right: 1px solid rgba(0, 0, 0, 0.473);
  /* height: 400px; */
  margin-top: 50px;
  margin-bottom: 50px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 100px;
  padding-left: 100px;


}
.form-vac{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1000px;
}
.form-vac {
font-weight: 500;
font-size: 20px;
}
.details-box{
  color: #3d0457;
 background-color:white;
 width:1000px;
 height:auto;
 border: 0.5px solid rgba(0, 0, 0, 0.438);
 margin-left:350px;
 border-radius: 5%;

}
.details-box h1 {
  font-weight:500;
font-size: 20px;

}
.create-btn
{
  color:white;
  font-weight: bold;
  font-family: arial;
  font-size:15px;
  background-color:#391c46;
  /* padding: 8px 10px; */
  border-radius: 50px;

}
.b1{
  padding: 6px 15px;
}
.b2{
  padding: 6px 10px;

}
