
  <app-company-navbar></app-company-navbar>

<div class="home" id="home">
  <div class="topic">
    <p>Find your dream job And
      <br>Hire best employees<br>
      with<span> linkup</span>
    </p>
  </div>
  <div class="image">
    <img src="../../../assets/img/Group 40.png"  alt="" style="max-width:55%">
  </div>
  <div id="aboutUs" >
    <h1 class="p-5">About us</h1>
    <div class="d-flex justify-content-center pb-5">
      <p>Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy t
        ext ever since the 1500s, when an unknown printer took a galley of type an
        d scrambled it to make a type specimen book. It has survived not only five centuries,
        but also the leap into electronic typesetting, remaining essentially unchanged. It was po
        pularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
  <div id="contact" class="formDiv ">
    <h1>Contact us</h1>
    <form class="">
      <div class="form-group">
        <label for="exampleInputEmail1">Name:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
      </div>
      <div class="form-group">
        <label for="pwd">Message:</label>
        <textarea id="#myArea"  class="form-control" placeholder="Enter Message"  cols="40" rows="8"  >

        </textarea>
      </div>

      <div class="btnCreate col-12 pr-0">
        <input class="btn create-bt shadow border border-dark" type="submit" value="Contact">
      </div>
    </form>
  </div>

  <div id="footer">
    <div class="logoFooter">
    <img src="../../../assets/img/logo.png"  alt="" style="max-width:55%">

    </div>
    <p class="copywrite">
      Copyright © 2022 <a class="cpy" href="#">Unknown</a>.All rights reserved
    </p>
  </div>



</div>
<div class="left">
  <div style="padding-top:250px">
    <h1 class="pb-3">Join With Us As A </h1>
    <button class="btn create-btn shadow border border-dark" routerLink="/companycreate">
          Company
    </button>
    <h1 class="pb-2 pt-4">Or</h1>
    <button class="btn create-b shadow border border-dark" routerLink="/jobseekerCreate">
      Job Seeker
    </button>
  </div>

</div>

