.main{
  background-color: rgba(90, 22, 90, 0.062);
  width: -webkit-fill-available;
  height:100vh;
  position:absolute;
  overflow-x: hidden;
}
.card{
  padding-top: 200px;
}
.formDiv{
  margin-left: 443px;

  border-radius: 4px;
  width:800px;

  padding:35px;
  box-shadow: 5px 10px 18px #888888;
}
.com-img img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.addChan{
  text-align: center;
  font-size:25px;
  color:#421358e5;
  font-weight:bold;

}
.createjobtopic{
  text-align: left;
  font-size:15px;
  color:#421358b0;

  font-weight:bold;
}
.formchannel{
  text-align: left;
  font-size:20px;
  color:#42135885;
  font-weight:bold;
  /* width: 779px */
}
.create-btn
{
  color:white;
  font-weight: bold;
  font-family: arial;
  font-size:20px;
  background-color:#4a255c;
  padding: 8px 50px;
  border-radius: 4px;
  float: right;
}
@media only screen and (max-width: 1000px) {
  .formDiv{
    margin-left: 80px;

    border-radius: 4px;
    width:700px;

    padding:35px;
    box-shadow: 5px 10px 18px #888888;
  }


}

